<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {
    height: 100%;
    background-color: black;
    margin: 0;
}

.bgimg {
    background-image: url('https://raw.githubusercontent.com/SevenThomsen/SevenThomsen.github.io/master/images/background_main.jpg') no-repeat center center;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

#pacman {
  height: 470px;
  width: 382px;
  border-radius: 5px;
  margin: 20px auto;
}

#shim {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  visibility: hidden
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: yellow;
}

body {
  width: 342px;
  margin: 0px auto;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #0000FF;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}
</style>
